@import "../../mixins.scss";

.errorBoundary {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .errorContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        .errorTitle {
            font-size: 40px;
            font-weight: 700;
            color: white;
            margin-bottom: 10px;
            @include md {
                font-size: 60px;
            }
        }
        .errorSubTitle {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 30px;
            max-width: 500px;
        }
        .refreshBtn {
            padding: 12px 30px;
            background: var(--gradient);
            color: white;
            border: 0;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}
