.carouselSection {
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .carouselTitle {
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
}

.seoContentSection {
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.6;

    h2 {
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
